<p>
  <mat-toolbar>
    <span>Music</span>
  </mat-toolbar>
</p>

<ng-http-loader></ng-http-loader>

<div class="card-container">
  <div class="container mt30 mb30" *ngIf="musicList$ | async as musicAsync">
    <mat-card
      *ngFor="
        let music of musicAsync?.featuredPlaylists?.content;
        let index = index
      "
    >
      <img mat-card-img [src]="music.artwork" />
      <mat-card-content>
        <div class="card-details">
          <h4>{{ music.name }}</h4>
          <p>Artist: {{ music.curator_name }}</p>
          <p>Album: {{ music.kind }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="api-error">
  <div *ngIf="errorMsg" class="container text-align-center">
    <p><img src="../../../assets/oops.png" alt="oops" /></p>
    <p class="text-align-center danger">
      Unforutunately we are not able to load. Try After sometime.
    </p>
  </div>
</div>
